@model IEnumerable<BloodUnity.Models.CampaignTable>

@{
    Layout = null;
    ViewBag.Title = "All Campaigns";
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Blood Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Reddrop Buddies - Blood Donation Campaign & Multi-Concept Activism Template">
    <meta name="author" content="xenioushk">
    <link rel="shortcut icon" href="~/Content/Template/images/favicon.png" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- The styles -->
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.min.css" />
    <link href="~/Content/Template/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/Template/css/styles.css" />
</head>
<body>
    <div id="preloader">
        <span class="margin-bottom"><img src="~/Content/Template/images/loader.gif" alt="" /></span>
    </div>

    <!--  HEADER -->

    <header class="main-header clearfix" data-sticky_header="true">

        <div class="top-bar clearfix">

            <div class="container">

                <div class="row">

                    <div class="col-md-8 col-sm-12">

                        <!---<p>
                            <span><i class="fa fa-building-o"></i> <strong>Contact: </strong>  AUST</span>
                            <span>&nbsp;<i class="fa fa-phone"></i> <strong>Call Us:</strong> +8801760603954</span>
                        </p>-->

                    </div>

                    <div class="col-md-4col-sm-12">
                        <div class="top-bar-social">
                            <a href="#"><i class="fa fa-facebook rounded-box"></i></a>
                            <a href="#"><i class="fa fa-twitter rounded-box"></i></a>
                            <a href="#"><i class="fa fa-google-plus rounded-box"></i></a>
                            <a href="#"><i class="fa fa-instagram rounded-box"></i></a>
                            <a href="#"><i class="fa fa-youtube rounded-box"></i></a>
                            @if (string.IsNullOrEmpty(Convert.ToString(Session["UserName"])))
                            {
                                @Html.ActionLink("Sign In", "Login", "Home", null, new { @class = "btn btn-theme" })
                            }

                            else
                            {
                                @Html.ActionLink("Sign Out", "Logout", "Home", null, new { @class = "btn btn-theme" })
                            }
                        </div>

                    </div>

                </div>

            </div> <!--  end .container -->

        </div> <!--  end .top-bar  -->

        <section class="header-wrapper navgiation-wrapper">

            <div class="navbar navbar-default">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="#"><img alt="" src="~/Content/Template/images/cover.png"></a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                <a href="#">Home</a>
                                <ul class="drop-down">
                                    <li><a href="index.html" title="Home Layout 01">Home 01</a></li>
                                    <li><a href="home-2.html" title="Home Layout 02">Home 02</a></li>
                                </ul>
                            </li>


                            <li><a href="about-us.html" title="About Us">About Us</a></li>

                            <li>
                                <a href="#">Campaign</a>
                                <ul class="drop-down">
                                    <li><a href="@Url.Content("~/Home/AllCampaigns")">All Campaigns</a></li>
                                    <li><a href="event-single.html">Single Campaign</a></li>
                                </ul>
                            </li>

                            <li class="drop">
                                <a href="#">Pages</a>
                                <ul class="drop-down">

                                    <li class="drop">
                                        <a href="#">Elements</a>
                                        <ul class="drop-down level3">
                                            <li><a href="element-cta.html">CTA/PROMO BOX</a></li>
                                            <li><a href="element-counter.html">Fun Facts</a></li>
                                            <li><a href="element-logos.html">Logos/Clients</a></li>
                                            <li><a href="element-process.html">Process</a></li>
                                            <li><a href="element-highlights.html">Highlights Box</a></li>
                                            <li><a href="element-service.html">Services</a></li>
                                            <li><a href="element-subscribe.html">Subscribe</a></li>
                                            <li><a href="element-team.html">Team</a></li>
                                            <li><a href="element-feedback.html">Testimonials</a></li>
                                        </ul>
                                    </li>

                                    <li class="drop">
                                        <a href="#">Gallery</a>
                                        <ul class="drop-down level3">
                                            <li><a href="gallery-1.html">Layout 01</a></li>
                                            <li><a href="gallery-2.html">Layout 02</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="faq.html" title="FAQ">FAQ</a></li>
                                    <li><a href="404.html" title="404 Page">404 Page</a></li>
                                    <li class="drop">
                                        <a href="#">Level 3</a>
                                        <ul class="drop-down level3">
                                            <li><a href="#">Level 3.1</a></li>
                                            <li><a href="#">Level 3.2</a></li>
                                            <li><a href="#">Level 3.3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Blog</a>
                                <ul class="drop-down">
                                    <li><a href="blog.html">All Posts</a></li>
                                    <li><a href="single.html">Single Page</a></li>
                                </ul>
                            </li>

                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </section>
        <section class="page-header" data-stellar-background-ratio="1.2">

            <div class="container">

                <div class="row">

                    <div class="col-sm-12 text-center">

                        <h3>
                            Campaign Lists
                        </h3>

                        <p class="page-breadcrumb">
                            <a href="@Url.Content("~/Home/MainHome")">Home</a>
                        </p>


                    </div>

                </div> <!-- end .row  -->

            </div> <!-- end .container  -->

        </section>
        <section class="section-content-block section-secondary-bg">

            <div class="container">

                <div class="row section-heading-wrapper">

                    <div class="col-md-12 col-sm-12 text-left no-img-separator">
                        <h2>ALL CAMPAIGNS</h2>
                        <span class="heading-separator heading-separator-horizontal"></span>
                        <h4></h4>
                    </div> <!-- end .col-sm-12  -->

                </div> <!-- end .row  -->

                <div class="row margin-top-48">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 col-sm-12">
                            <div class="event-layout-1 theme-custom-box-shadow clearfix">
                                <figure class="event-img">
                                    <a href="#">
                                        <img src="@Url.Content(item.CampaignPhoto)" alt="">
                                    </a>
                                </figure>
                                <div class="event-info">
                                    <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> @item.CampaignDate.ToString("dd MMMM, yyyy")</a>
                                    <h4>
                                        <a href="#">@item.CampaignTitle</a>
                                    </h4>
                                    <div class="event-exceprt">@item.CampaignDetails</div>
                                    <div class="event-time">
                                        <a href="#"><i class="fa fa-clock-o"></i> @item.StartTime - @item.EndTime</a>
                                        <a href="#"> <i class="fa fa-map-marker"></i>@item.Location</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div> <!--  end .container  -->

        </section>

        <!-- SECTION CTA  -->
        <!---<section class="cta-section-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>We have been helping people from 40 years</h2>
                        <p>
                            You can give blood at any of our blood donation venues all over the world. We have total sixty thousands donor centers and visit thousands of other venues on various occasions.
                        </p>
                        <a class="btn btn-theme btn-theme-invert margin-top-24" href="#">BECOME VOLUNTEER</a>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- CLIENT LOGO SECTION  -->
        <!---<section class="section-content-block section-secondary-bg">

            <div class="container wow fadeInUp">

                <div class="row section-heading-wrapper">

                    <div class="col-md-12 col-sm-12 text-center no-img-separator">
                        <h2>Our Sponsors</h2>
                        <span class="heading-separator"></span>
                        <h4>The sponsors who give their valuable amount to fulfill our mission.</h4>
                    </div>

                </div>


                <div class="row">

                    <div class="logo-items owl-carousel logo-layout-1 text-center">

                        <div class="client-logo">

                            <img src="images/logo_1.jpg" alt="" />

                        </div>

                        <div class="client-logo">

                            <img src="images/logo_2.jpg" alt="" />

                        </div>


                        <div class="client-logo">

                            <img src="images/logo_3.jpg" alt="" />

                        </div>



                        <div class="client-logo">

                            <img src="images/logo_4.jpg" alt="" />

                        </div>

                        <div class="client-logo">

                            <img src="images/logo_5.jpg" alt="" />

                        </div>



                        <div class="client-logo">

                            <img src="images/logo_6.jpg" alt="" />

                        </div>

                        <div class="client-logo">

                            <img src="images/logo_7.jpg" alt="" />

                        </div>

                        <div class="client-logo">

                            <img src="images/logo_8.jpg" alt="" />

                        </div>


                    </div>

                </div>

            </div> <!-- end .container

        </section>-->
    </header>
    <footer>

        <section class="footer-widget-area footer-widget-area-bg">

            <div class="container">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="about-footer">

                            <div class="row">

                                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                    <img src="~/Content/Template/images/cover.png" alt="" />
                                </div> <!--  end col-lg-3-->

                                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                    <p>
                                        We are world largest and trustful blood donation center. We have been working since 1973 with a prestigious vision to helping patient to provide blood.
                                        We are working all over the world, organizing blood donation campaign to grow awareness among the people to donate blood.
                                    </p>
                                </div> <!--  end .col-lg-9  -->

                            </div> <!--  end .row -->

                        </div> <!--  end .about-footer  -->

                    </div> <!--  end .col-md-12  -->

                </div> <!--  end .row  -->

                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12">

                        <div class="footer-widget">

                            <div class="sidebar-widget-wrapper">

                                <div class="footer-widget-header clearfix">
                                    <h3>Contact Us</h3>
                                </div>  <!--  end .footer-widget-header -->


                                <div class="textwidget">

                                    <i class="fa fa-envelope-o fa-contact"></i> <p><a href="#">support@bloodunity.com</a><br /><a href="#">helpme@bloodunity.com</a></p>

                                    <i class="fa fa-location-arrow fa-contact"></i> <p>AUST</p>

                                    <i class="fa fa-phone fa-contact"></i> <p>+8801760603954</p>

                                </div>

                            </div> <!-- end .footer-widget-wrapper  -->

                        </div> <!--  end .footer-widget  -->

                    </div> <!--  end .col-md-4 col-sm-12 -->

                    <div class="col-md-4 col-sm-12 col-xs-12">

                        <div class="footer-widget clearfix">

                            <div class="sidebar-widget-wrapper">

                                <div class="footer-widget-header clearfix">
                                    <h3>Support Links</h3>
                                </div>  <!--  end .footer-widget-header -->


                                <ul class="footer-useful-links">

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Thalassemia
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Cell Elofrosis
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Myelodysasia
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Blood Count
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Hemolytimia
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Ychromas Eosis
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Hyrcoagulable
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Thrombo Xtosis
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Sicklenemiaxs
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Aplastic Anemia
                                        </a>
                                    </li>

                                </ul>

                            </div> <!--  end .footer-widget  -->

                        </div> <!--  end .footer-widget  -->

                    </div> <!--  end .col-md-4 col-sm-12 -->

                    <div class="col-md-4 col-sm-6 col-xs-12">

                        <div class="footer-widget">
                            <div class="sidebar-widget-wrapper">
                                <div class="footer-widget-header clearfix">
                                    <h3>Subscribe Us</h3>
                                </div>
                                <p>Signup for regular newsletter and stay up to date with our latest news.</p>
                                <div class="footer-subscription">
                                    <p>
                                        <input id="mc4wp_email" class="form-control" required="" placeholder="Enter Your Email" name="EMAIL" type="email">
                                    </p>
                                    <p>
                                        <input class="btn btn-default" value="Subscribe Now" type="submit">
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div> <!--  end .col-md-4 col-sm-12 -->

                </div> <!-- end row  -->

            </div> <!-- end .container  -->

        </section> <!--  end .footer-widget-area  -->
        <!--FOOTER CONTENT  -->

        <section class="footer-contents">

            <div class="container">

                <div class="row clearfix">

                    <div class="col-md-12 col-sm-12 text-center">
                        <p class="copyright-text"> Blood Unity. All Rights Reserved. </p>
                    </div>  <!-- end .col-sm-6  -->

                </div> <!-- end .row  -->

            </div> <!--  end .container  -->

        </section> <!--  end .footer-content  -->

    </footer>

    <!-- END FOOTER  -->
    <!-- Back To Top Button  -->

    <a id="backTop">Back To Top</a>

    <script type="text/javascript">
    @*alert('@ViewData["Message"]');*@
    </script>
    <script src="~/Content/Template/js/jquery.min.js"></script>
    <script src="~/Content/Template/js/bootstrap.min.js"></script>
    <script src="~/Content/Template/js/wow.min.js"></script>
    <script src="~/Content/Template/js/jquery.backTop.min.js "></script>
    <script src="~/Content/Template/js/waypoints.min.js"></script>
    <script src="~/Content/Template/js/waypoints-sticky.min.js"></script>
    <script src="~/Content/Template/js/owl.carousel.min.js"></script>
    <script src="~/Content/Template/js/jquery.stellar.min.js"></script>
    <script src="~/Content/Template/js/jquery.counterup.min.js"></script>
    <script src="~/Content/Template/js/venobox.min.js"></script>
    <script src="~/Content/Template/js/custom-scripts.js"></script>
</body>
</html>