@model BloodUnity.Models.RegistrationMV
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Blood Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Reddrop Buddies - Blood Donation Campaign & Multi-Concept Activism Template">
    <meta name="author" content="xenioushk">
    <link rel="shortcut icon" href="~/Content/Template/images/favicon.png" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- The styles -->
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.min.css" />
    <link href="~/Content/Template/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/Template/css/styles.css" />
</head>
<body>
    <div id="preloader">
        <span class="margin-bottom"><img src="~/Content/Template/images/loader.gif" alt="" /></span>
    </div>

    <!--  HEADER -->

    <header class="main-header clearfix" data-sticky_header="true">

        <div class="top-bar clearfix">

            <div class="container">

                <div class="row">

                    <div class="col-md-8 col-sm-12">

                        <p>
                            <span><i class="fa fa-building-o"></i> <strong>Contact: </strong>  AUST</span>
                            <span>&nbsp;<i class="fa fa-phone"></i> <strong>Call Us:</strong> +8801760603954</span>
                        </p>

                    </div>

                    <div class="col-md-4col-sm-12">
                        <div class="top-bar-social">
                            <a href="#"><i class="fa fa-facebook rounded-box"></i></a>
                            <a href="#"><i class="fa fa-twitter rounded-box"></i></a>
                            <a href="#"><i class="fa fa-google-plus rounded-box"></i></a>
                            <a href="#"><i class="fa fa-instagram rounded-box"></i></a>
                            <a href="#"><i class="fa fa-youtube rounded-box"></i></a>
                        </div>
                    </div>

                </div>

            </div> <!--  end .container -->

        </div> <!--  end .top-bar  -->

        <section class="header-wrapper navgiation-wrapper">

            <div class="navbar navbar-default">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="index.html"><img alt="" src="~/Content/Template/images/logo.png"></a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                <a href="#">Home</a>
                                <ul class="drop-down">
                                    <li><a href="index.html" title="Home Layout 01">Home 01</a></li>
                                    <li><a href="home-2.html" title="Home Layout 02">Home 02</a></li>
                                </ul>
                            </li>


                            <li><a href="about-us.html" title="About Us">About Us</a></li>

                            <li>
                                <a href="#">Campaign</a>
                                <ul class="drop-down">
                                    <li><a href="events.html">All Campaigns</a></li>
                                    <li><a href="event-single.html">Single Campaign</a></li>
                                </ul>
                            </li>

                            <li class="drop">
                                <a href="#">Pages</a>
                                <ul class="drop-down">

                                    <li class="drop">
                                        <a href="#">Elements</a>
                                        <ul class="drop-down level3">
                                            <li><a href="element-cta.html">CTA/PROMO BOX</a></li>
                                            <li><a href="element-counter.html">Fun Facts</a></li>
                                            <li><a href="element-logos.html">Logos/Clients</a></li>
                                            <li><a href="element-process.html">Process</a></li>
                                            <li><a href="element-highlights.html">Highlights Box</a></li>
                                            <li><a href="element-service.html">Services</a></li>
                                            <li><a href="element-subscribe.html">Subscribe</a></li>
                                            <li><a href="element-team.html">Team</a></li>
                                            <li><a href="element-feedback.html">Testimonials</a></li>
                                        </ul>
                                    </li>

                                    <li class="drop">
                                        <a href="#">Gallery</a>
                                        <ul class="drop-down level3">
                                            <li><a href="gallery-1.html">Layout 01</a></li>
                                            <li><a href="gallery-2.html">Layout 02</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="faq.html" title="FAQ">FAQ</a></li>
                                    <li><a href="404.html" title="404 Page">404 Page</a></li>
                                    <li class="drop">
                                        <a href="#">Level 3</a>
                                        <ul class="drop-down level3">
                                            <li><a href="#">Level 3.1</a></li>
                                            <li><a href="#">Level 3.2</a></li>
                                            <li><a href="#">Level 3.3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Blog</a>
                                <ul class="drop-down">
                                    <li><a href="blog.html">All Posts</a></li>
                                    <li><a href="single.html">Single Page</a></li>
                                </ul>
                            </li>

                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </section>
    </header> <!-- end main-header  -->
    <div class="slider-wrap">
        <div id="slider_1" class="owl-carousel" data-nav="true" data-dots="false" data-autoplay="true" data-autoplaytimeout="17000">

            <div class="slider_item_container" data-bg_img="~/Content/Template/images//home_1_slider_1.jpg" data-bg_color="#555555" data-bg_opacity="0.0">
                <div class="item">
                    <div class="slider-content">
                        <div class="container text-left">
                            <div class="row">
                                <div class="slider-bg">
                                    <div class="col-sm-12 wow zoomInUp" data-wow-duration="1s">

                                        <h3>Donate blood,save life !</h3>
                                        <h2>
                                            YOUR BLOOD
                                            <br>
                                            CAN BRING SMILE
                                            <br />
                                            IN OTHER PERSON FACE
                                        </h2>
                                        <a href="#" class="btn btn-theme margin-top-24">Donate Now</a>
                                        <a href="#" class="btn btn-theme btn-theme-invert margin-top-24">CALL : +8801760603954</a>
                                    </div>
                                </div> <!-- end .col-sm-12  -->
                            </div> <!-- end .row  -->
                        </div><!-- end .container -->
                    </div> <!--  end .slider-content -->
                </div> <!-- end .item  -->
            </div> <!-- end .slider_item_container  -->

            <div class="slider_item_container" data-bg_img="~/Content/Template/images//home_1_slider_2.jpg" data-bg_color="#555555" data-bg_opacity="0.0">
                <div class="item">
                    <div class="slider-content">
                        <div class="container text-left">
                            <div class="row">
                                <div class="slider-bg" data-animation-in="zoomInUp" data-animation-out="zoomInDown">
                                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1s">

                                        <h3>Donate blood,save life !</h3>
                                        <h2>
                                            DONATE BLOOD
                                            <br>
                                            AND INSPIRES OTHERS.
                                        </h2>
                                        <a href="#" class="btn btn-theme margin-top-24">Donate Now</a>
                                    </div>
                                </div> <!-- end .col-sm-12  -->
                            </div> <!-- end .row  -->
                        </div><!-- end .container -->
                    </div> <!--  end .slider-content -->
                </div> <!-- end .item  -->
            </div> <!-- end .slider_item_container  -->

        </div> <!-- end .slider_1  -->
    </div> <!-- end .slider-wrap.  -->
    <!--  FEATURED ABOUT US SECTION-->

    <section class="section-content-block">

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                    <div class="about-us-container theme-custom-box-shadow">

                        <div class="row section-heading-wrapper margin-bottom-11">

                            <div class="col-lg-12 col-md-12 col-sm-12 text-left no-img-separator">
                                <h2><strong>Who We Are?</strong></h2>
                                <span class="heading-separator heading-separator-horizontal"></span>
                            </div> <!-- end .col-sm-10  -->

                        </div>

                        <div class="about-details">

                            <p>Blood Buddies is for public donation center with blood donation members in the changing health care system.</p>


                            <ul class="custom-bullet-list">
                                <li>Specialist blood donors and clinical supervision.</li>
                                <li>Increasing communication with our members.</li>
                                <li>High quality assessment, diagnosis and treatment.</li>
                                <li>Examine critically to ensure alignment.</li>
                                <li>The extra care of a multi-disciplinary team.</li>
                            </ul>

                        </div> <!--  end .about-details -->

                    </div>

                </div> <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12 -->


                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                    <figure class="about-img theme-custom-box-shadow">
                        <a class="venobox wow bounceIn" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=nrJtHemSPW4"><i class="fa fa-play"></i></a>
                        <img src="~/Content/Template/images//about_feat_bg.jpg" alt="about" />
                    </figure> <!-- end .cause-img  -->

                </div> <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12  -->

            </div> <!--  end .row  -->
        </div>

    </section> <!--  end .section-about-us -->
    <!-- SECTION TESTIMONIAL   -->

    <section class="section-content-block section-custom-bg" data-bg_img='~/Content/Template/images//testimony_feat_bg.jpg' data-bg_size='cover' data-bg_position='top center' data-bg_opacity="0">

        <div class="container margin-top-80">
            <div class="row section-heading-wrapper-alt">

                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                    <h4>Awesome Words From Members</h4>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <h2 class="extra-large">JOIN WITH US AND SAVE LIFE</h2>

                </div> <!-- end .col-sm-10  -->

            </div>
        </div>

        <div class="container theme-custom-box-shadow  section-pure-white-bg margin-top-48 margin-bottom-48 wow fadeInUp">

            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="testimonial-container owl-carousel text-left" data-items="1">

                        <div class="col-md-12 col-sm-12">

                            <div class="testimony-layout-1">
                                <h3 class="people-quote">Donor Opinion</h3>
                                <p class="testimony-text">
                                    I proudly donate blood on a regular basis because it gives others something they desperately need to survive. Just knowing I can make a difference in someone else's life makes me feel great!
                                </p>

                                <img src="~/Content/Template/images//user_1.jpg" alt="" />
                                <h6>Brandon Munson</h6>
                                <span>CTO, Fulcrum Design, USA</span>

                            </div> <!-- end .testimony-layout-1  -->

                        </div> <!--  end col-md-10  -->

                        <div class="col-md-12 col-sm-12">

                            <div class="testimony-layout-1">
                                <h3 class="people-quote">Donor Opinion</h3>
                                <p class="testimony-text">
                                    I have been a donor since high school. Although I have not been a donor every year, I always want to give to the human race. I love to help others! Moreover it gives a real peace in my mind.
                                </p>

                                <img src="~/Content/Template/images//user_2.jpg" alt="" />
                                <h6>Munson Brandon</h6>
                                <span>CTO, Fulcrum Design, USA</span>

                            </div> <!-- end .testimony-layout-1  -->

                        </div> <!--  end col-md-10  -->

                        <div class="col-md-12 col-sm-12">

                            <div class="testimony-layout-1">
                                <h3 class="people-quote">Recipient Opinion</h3>
                                <p class="testimony-text">
                                    I wish I could tell you my donor how grateful I am for your selfless act.You gave me new life. We may be coworkers or schoolmates or just two in the same community.I'm very grateful to you.
                                </p>

                                <img src="~/Content/Template/images//user_3.jpg" alt="" />
                                <h6>Logan Munson</h6>
                                <span>CTO, Fulcrum Design, USA</span>

                            </div> <!-- end .testimony-layout-1  -->

                        </div> <!--  end col-md-10  -->

                    </div>  <!--  end .row  -->
                </div>

                <div class="col-lg-6 hidden-md hidden-xs hidden-sm no-padding">
                    <figure>
                        <img src="~/Content/Template/images//testimony_feat_img.jpg" alt="" class="db" />
                    </figure>
                </div>

            </div>



        </div> <!-- end .container  -->

    </section>

    <!--  SECTION CAMPAIGNS   -->

    <section class="section-content-block section-pure-white-bg">

        <div class="container">


            <div class="row">

                <div class="col-sm-12 col-md-5">

                    <div class="row section-heading-wrapper">

                        <div class="col-md-12 col-sm-12 text-left no-img-separator">
                            <h2>OUR CAMPAIGNS</h2>
                            <span class="heading-separator heading-separator-horizontal"></span>
                            <h4 class="margin-top-24">

                                <small>
                                    All over the world we have arranged total sixty thousands donation campaign
                                    and visit thousands of other venues on various occasions.
                                </small>
                            </h4>
                            <a class="btn btn-theme margin-top-32" href="#">Load All Campaigns</a>
                        </div> <!-- end .col-sm-12  -->

                    </div> <!-- end .row  -->

                </div>

                <div class="col-sm-12 col-md-7">

                    <div class="row wow fadeInRight">

                        <div class="event-carousel owl-carousel" data-nav="false" data-dots="true" data-items="1">

                            <div class="col-md-6 col-sm-12">
                                <div class="event-layout-1 theme-custom-box-shadow clearfix">
                                    <figure class="event-img">
                                        <a href="#">
                                            <img src="~/Content/Template/images//event_1.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="event-info">
                                        <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 24 February, 2018</a>
                                        <h4>
                                            <a href="#">Opening Donation Day</a>
                                        </h4>
                                        <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</div>
                                        <div class="event-time">
                                            <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                            <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="event-layout-1 theme-custom-box-shadow clearfix">
                                    <figure class="event-img">
                                        <a href="#">
                                            <img src="~/Content/Template/images//event_3.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="event-info">
                                        <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 11 March, 2018</a>
                                        <h4>
                                            <a href="#">Free Group Checking</a>
                                        </h4>
                                        <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</div>
                                        <div class="event-time">
                                            <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                            <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="event-layout-1 theme-custom-box-shadow clearfix">
                                    <figure class="event-img">
                                        <a href="#">
                                            <img src="~/Content/Template/images//event_4.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="event-info">
                                        <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 14 June, 2018</a>
                                        <h4>
                                            <a href="#">Blood Group Collection</a>
                                        </h4>
                                        <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</div>
                                        <div class="event-time">
                                            <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                            <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="event-layout-1 theme-custom-box-shadow clearfix">
                                    <figure class="event-img">
                                        <a href="#">
                                            <img src="~/Content/Template/images//event_2.jpg" alt="">
                                        </a>
                                    </figure>
                                    <div class="event-info">
                                        <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> 31 July, 2018</a>
                                        <h4>
                                            <a href="#">Blood Donation Camp</a>
                                        </h4>
                                        <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</div>
                                        <div class="event-time">
                                            <a href="#"><i class="fa fa-clock-o"></i> 10.00 - 3.00</a>
                                            <a href="#"> <i class="fa fa-map-marker"></i> California, USA</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div> <!--  end .container  -->

    </section>


    <!--  SECTION APPOINTMENT BOX -->

    <section class="section-content-block section-custom-bg section-custom-bg-extra-padding" data-bg_img='~/Content/Template/images//appointment_female_bg.jpg' data-bg_color='#000000' data-bg_opacity='0.1'>

        <div class="container">
            <div class="custom-empty-space" data-height="160px" data-class="col-sm-hidden"></div>
        </div>

    </section>

    <!--  SECTION APPOINTMENT   -->

    <section class="section-content-block section-secondary-bg">

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-6">

                    <div class="row section-heading-wrapper">

                        <div class="col-md-12 col-sm-12 text-left no-img-separator">
                            <h4>Good To Know</h4>
                            <span class="heading-separator heading-separator-horizontal"></span>
                            <h2>
                                Helpful Information
                            </h2>

                        </div> <!-- end .col-sm-10  -->

                    </div>

                    <div class="about-details">

                        <ul class="custom-bullet-list">
                            <li>Maintain a healthy iron level by eating iron rich foods.</li>
                            <li>Drink an extra 16 oz. of water prior to your donation.</li>
                            <li>Avoid alcohol consumption before your blood donation.</li>
                            <li>Remember to bring the donor card or national ID/Passport.</li>
                            <li>Finally, Try to get a good night sound sleep after donation.</li>
                        </ul>

                    </div> <!--  end .about-details -->

                </div> <!--  end col-lg-6  -->


                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-top-appointment-reverse">

                    <div class="appointment-form-wrapper theme-custom-box-shadow text-center clearfix wow zoomIn">
                        <h3 class="join-heading join-heading-alt">Registration</h3>
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "appoinment-form" }))
                        {
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.User.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "User Name", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.User.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.User.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "email" } })
                                    @Html.ValidationMessageFor(model => model.User.EmailAddress, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="select-style">
                                        @Html.DropDownList("UserTypeID", null, "--Relationship--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.UserTypeID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact Number", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                </div>


                                <div class="form-group col-md-6">
                                    <div class="select-style">
                                        @Html.DropDownList("CityID", null, "--Your City--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    @Html.TextAreaFor(model => model.User.Description, 4, 12, new { @class = "form-control", @placeholder = "Why You Want to Join Us?", @type = "text" })
                                    @Html.ValidationMessageFor(model => model.User.Description, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <button id="btn_submit" class="btn btn-theme" type="submit">Register</button>
                                </div>

                                }
                        </div> <!-- end .appointment-form-wrapper  -->

                    </div> <!--  end .col-lg-6 -->

                </div> <!--  end .row  -->

                <div class="row wow fadeIn">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-heartbeat icon"></i>
                            <span class="counter">2578</span>
                            <h4 class="text-capitalize">Success Smile</h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-stethoscope icon"></i>
                            <span class="counter">3235</span>
                            <h4 class="text-capitalize">Happy Donors</h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-users icon"></i>
                            <span class="counter">3568</span>
                            <h4 class="text-capitalize">Happy Recipient</h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-building icon"></i>
                            <span class="counter">1364</span>
                            <h4 class="text-capitalize">Total Awards</h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->


                </div> <!-- end row  -->

            </div> <!--  end .container -->

        </section> <!--  end .appointment-section  -->
        <!-- SECTION TEAM   -->

        <section class="section-content-block section-custom-bg" data-bg_img='~/Content/Template/images//team_feat_bg.jpg' data-bg_size='cover' data-bg_position='top center' data-bg_opacity="0">

            <div class="container margin-top-80">
                <div class="row section-heading-wrapper-alt">

                    <div class="col-md-12 col-sm-12 text-center no-img-separator">
                        <h4>OUR VOLUNTEERS</h4>
                        <span class="heading-separator heading-separator-horizontal"></span>
                        <h2 class="extra-large">The volunteers who give their time and talents help to fulfill our mission.</h2>

                    </div> <!-- end .col-sm-10  -->

                </div>
            </div>

            <div class="container margin-top-48 margin-bottom-48 wow fadeInLeft">

                <div class="row">

                    <div class="col-md-4 col-sm-12">

                        <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                            <figure class="team-member">
                                <a href="#" title="ALEXANDER GARY">
                                    <img src="~/Content/Template/images//team_9.jpg" alt="ALEXANDER GARY" />
                                </a>

                            </figure> <!-- end. team-member  -->

                            <article class="team-info">
                                <h3>ALEXANDER GARY</h3>
                                <h4>Co-Founder</h4>
                            </article>

                            <div class="team-content">

                                <div class="team-social-share text-center clearfix">
                                    <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                    <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a>
                                    <a class="fa fa-google-plus rectangle" href="#" title="Google Plus"></a>
                                    <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                                </div> <!-- end .author-social-box  -->

                            </div>

                        </div> <!--  end team-layout-1 -->

                    </div> <!--  end .col-md-4 col-sm-12  -->

                    <div class="col-md-4 col-sm-12">

                        <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                            <figure class="team-member">
                                <a href="#" title="MELISSA MUNOZ">
                                    <img src="~/Content/Template/images//team_6.jpg" alt="MELISSA MUNOZ" />
                                </a>

                            </figure> <!-- end. team-member  -->

                            <article class="team-info">
                                <h3>MELISSA MUNOZ</h3>
                                <h4>Founder</h4>
                            </article>

                            <div class="team-content">

                                <div class="team-social-share text-center clearfix">
                                    <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                    <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a>
                                    <a class="fa fa-google-plus rectangle" href="#" title="Google Plus"></a>
                                    <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                                </div> <!-- end .author-social-box  -->

                            </div>

                        </div> <!--  end team layout-1 -->

                    </div> <!--  end .col-md-4 col-sm-12  -->

                    <div class="col-md-4 col-sm-12">

                        <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                            <figure class="team-member">
                                <a href="#" title="JOHN ABRAHAM">
                                    <img src="~/Content/Template/images//team_7.jpg" alt="JOHN ABRAHAM" />
                                </a>

                            </figure> <!-- end. team-member  -->

                            <article class="team-info">
                                <h3>JOHN ABRAHAM</h3>
                                <h4>Manager</h4>
                            </article>
                            <div class="team-content">

                                <div class="team-social-share text-center clearfix">
                                    <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                    <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a>
                                    <a class="fa fa-google-plus rectangle" href="#" title="Google Plus"></a>
                                    <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                                </div> <!-- end .author-social-box  -->

                            </div>

                        </div> <!--  end team-layout-1 -->

                    </div> <!--  end .col-md-4 col-sm-12  -->


                </div> <!-- end .row  -->

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a class="btn btn-theme margin-top-24" href="#">Become A Volunteer</a>
                    </div>
                </div>

            </div> <!-- end .container  -->

        </section>

        <!--  SECTION GALLERY  -->

        <section class="section-content-block section-pure-white-bg">

            <div class="container">

                <div class="row section-heading-wrapper">

                    <div class="col-md-12 col-sm-12 text-center no-img-separator">
                        <h2>CAMPAIGN GALLERY</h2>
                        <span class="heading-separator"></span>
                        <h4>our prestigious voluntary work on campaigns by the team</h4>
                    </div> <!-- end .col-sm-10  -->


                </div> <!-- end .row  -->

            </div> <!--  end .container -->

            <div class="container wow fadeInUp">

                <div class="row no-padding-gallery">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images//gallery_1.jpg">

                            <figure class="gallery-img">

                                <img src="~/Content/Template/images//gallery_1.jpg" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a>

                    </div><!-- end .col-sm-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images//gallery_2.jpg">

                            <figure class="gallery-img">

                                <img src="~/Content/Template/images//gallery_2.jpg" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a> <!-- end .gallery-light-box  -->

                    </div><!-- end .col-sm-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images//gallery_3.jpg">

                            <figure class="gallery-img">

                                <img src="~/Content/Template/images//gallery_3.jpg" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a>

                    </div><!-- end .col-sm-3  -->

                </div> <!-- end .row  -->

                <div class="row no-padding-gallery">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images//gallery_4.jpg">

                            <figure class="gallery-img">

                                <img src="~/Content/Template/images//gallery_4.jpg" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a> <!-- end .gallery-light-box  -->

                    </div><!-- end .col-sm-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images//gallery_5.jpg">

                            <figure class="gallery-img">

                                <img src="~/Content/Template/images//gallery_5.jpg" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a>

                    </div><!-- end .col-sm-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="myGallery" href="~/Content/Template/images//gallery_6.jpg">

                            <figure class="gallery-img">

                                <img src="~/Content/Template/images//gallery_6.jpg" alt="gallery image" />

                            </figure> <!-- end .gallery-img  -->

                        </a> <!-- end .gallery-light-box  -->

                    </div><!-- end .col-sm-3  -->

                </div> <!-- end .row  -->

            </div><!-- end .container-fluid  -->

        </section> <!-- end .section-content-block  -->
        <!-- HIGHLIGHT CTA  -->

        <section class="padding-bottom-100 padding-top-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cta-section-1 section-secondary-bg text-center theme-custom-box-shadow">
                            <h2 class="text-capitalize">Become A Part Of Great Work Today</h2>
                            <p>
                                You can give blood at any of our blood donation venues all over the world.
                                <br />
                                We have total sixty thousands donor centers and visit thousands of other venues on various occasions.
                            </p>
                            <a class="btn btn-theme margin-top-24 wow bounceIn" href="#">JOIN WITH US</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>

            <section class="footer-widget-area footer-widget-area-bg">

                <div class="container">

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="about-footer">

                                <div class="row">

                                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Template/images/logo-footer.png" alt="" />
                                    </div> <!--  end col-lg-3-->

                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                        <p>
                                            We are world largest and trustful blood donation center. We have been working since 1973 with a prestigious vision to helping patient to provide blood.
                                            We are working all over the world, organizing blood donation campaign to grow awareness among the people to donate blood.
                                        </p>
                                    </div> <!--  end .col-lg-9  -->

                                </div> <!--  end .row -->

                            </div> <!--  end .about-footer  -->

                        </div> <!--  end .col-md-12  -->

                    </div> <!--  end .row  -->

                    <div class="row">

                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <div class="footer-widget">

                                <div class="sidebar-widget-wrapper">

                                    <div class="footer-widget-header clearfix">
                                        <h3>Contact Us</h3>
                                    </div>  <!--  end .footer-widget-header -->


                                    <div class="textwidget">

                                        <i class="fa fa-envelope-o fa-contact"></i> <p><a href="#">support@bloodunity.com</a><br /><a href="#">helpme@bloodunity.com</a></p>

                                        <i class="fa fa-location-arrow fa-contact"></i> <p>AUST</p>

                                        <i class="fa fa-phone fa-contact"></i> <p>+8801760603954</p>

                                    </div>

                                </div> <!-- end .footer-widget-wrapper  -->

                            </div> <!--  end .footer-widget  -->

                        </div> <!--  end .col-md-4 col-sm-12 -->

                        <div class="col-md-4 col-sm-12 col-xs-12">

                            <div class="footer-widget clearfix">

                                <div class="sidebar-widget-wrapper">

                                    <div class="footer-widget-header clearfix">
                                        <h3>Support Links</h3>
                                    </div>  <!--  end .footer-widget-header -->


                                    <ul class="footer-useful-links">

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Thalassemia
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Cell Elofrosis
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Myelodysasia
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Blood Count
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Hemolytimia
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Ychromas Eosis
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Hyrcoagulable
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Thrombo Xtosis
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Sicklenemiaxs
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Aplastic Anemia
                                            </a>
                                        </li>

                                    </ul>

                                </div> <!--  end .footer-widget  -->

                            </div> <!--  end .footer-widget  -->

                        </div> <!--  end .col-md-4 col-sm-12 -->

                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <div class="footer-widget">
                                <div class="sidebar-widget-wrapper">
                                    <div class="footer-widget-header clearfix">
                                        <h3>Subscribe Us</h3>
                                    </div>
                                    <p>Signup for regular newsletter and stay up to date with our latest news.</p>
                                    <div class="footer-subscription">
                                        <p>
                                            <input id="mc4wp_email" class="form-control" required="" placeholder="Enter Your Email" name="EMAIL" type="email">
                                        </p>
                                        <p>
                                            <input class="btn btn-default" value="Subscribe Now" type="submit">
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div> <!--  end .col-md-4 col-sm-12 -->

                    </div> <!-- end row  -->

                </div> <!-- end .container  -->

            </section> <!--  end .footer-widget-area  -->
            <!--FOOTER CONTENT  -->

            <section class="footer-contents">

                <div class="container">

                    <div class="row clearfix">

                        <div class="col-md-12 col-sm-12 text-center">
                            <p class="copyright-text"> Copyright 2018 - Blood Buddies by BlueWindLab. All Rights Reserved. </p>
                        </div>  <!-- end .col-sm-6  -->

                    </div> <!-- end .row  -->

                </div> <!--  end .container  -->

            </section> <!--  end .footer-content  -->

        </footer>

        <!-- END FOOTER  -->
        <!-- Back To Top Button  -->

        <a id="backTop">Back To Top</a>

        <script src="~/Content/Template/js/jquery.min.js"></script>
        <script src="~/Content/Template/js/bootstrap.min.js"></script>
        <script src="~/Content/Template/js/wow.min.js"></script>
        <script src="~/Content/Template/js/jquery.backTop.min.js "></script>
        <script src="~/Content/Template/js/waypoints.min.js"></script>
        <script src="~/Content/Template/js/waypoints-sticky.min.js"></script>
        <script src="~/Content/Template/js/owl.carousel.min.js"></script>
        <script src="~/Content/Template/js/jquery.stellar.min.js"></script>
        <script src="~/Content/Template/js/jquery.counterup.min.js"></script>
        <script src="~/Content/Template/js/venobox.min.js"></script>
        <script src="~/Content/Template/js/custom-scripts.js"></script>
    </body>
</html>
