<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title-Blood Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Reddrop Buddies - Blood Donation Campaign & Multi-Concept Activism Template">
    <meta name="author" content="xenioushk">
    <link rel="shortcut icon" href="~/Content/Template/images/favicon.png" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- The styles -->
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.min.css" />
    <link href="~/Content/Template/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Template/css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/Template/css/styles.css" />
</head>
<body>
    <div id="preloader">
        <span class="margin-bottom"><img src="~/Content/Template/images/loader.gif" alt="" /></span>
    </div>

    <!--  HEADER -->

    <header class="main-header clearfix" data-sticky_header="true">

        <div class="top-bar clearfix">

            <div class="container">

                <div class="row">

                    <div class="col-md-8 col-sm-12">

                        <!---<p>
                            <span><i class="fa fa-building-o"></i> <strong>Contact: </strong>  AUST</span>
                            <span>&nbsp;<i class="fa fa-phone"></i> <strong>Call Us:</strong> +8801760603954</span>
                        </p>-->

                    </div>

                    <div class="col-md-4col-sm-12">
                        <div class="top-bar-social">
                            @*<a href="#"><i class="fa fa-facebook rounded-box"></i></a>
                            <a href="#"><i class="fa fa-twitter rounded-box"></i></a>
                            <a href="#"><i class="fa fa-google-plus rounded-box"></i></a>
                            <a href="#"><i class="fa fa-instagram rounded-box"></i></a>
                            <a href="#"><i class="fa fa-youtube rounded-box"></i></a>*@
                            @if (string.IsNullOrEmpty(Convert.ToString(Session["UserName"])))
                            {
                                @Html.ActionLink("Sign In", "Login", "Home", null, new { @class = "btn btn-theme" })
                            }

                            else
                            {
                                @Html.ActionLink("Sign Out", "Logout", "Home", null, new { @class = "btn btn-theme" })
                            }

                        </div>

                    </div>

                </div>

            </div> <!--  end .container -->

        </div> <!--  end .top-bar  -->

        <section class="header-wrapper navgiation-wrapper">

            <div class="navbar navbar-default">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="#"><img alt="" src="~/Content/Template/images/cover.png"></a>
                    </div>
                    @{
                        int usertypeid = 0;
                        int userid = 0;
                        string sessionusertype = Convert.ToString(Session["UserTypeID"]);
                        string userID = Convert.ToString(Session["UserID"]);
                        int.TryParse(sessionusertype, out usertypeid);
                        int.TryParse(userID, out userid);



                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                @if (usertypeid == 0)
                                {
                                    <li>
                                        <a href="@Url.Content("~/Home/MainHome")">Home</a>

                                    </li>
                                }
                                @*<li>
                                        <a href="@Url.Content("~/Home/AboutUs")">About Us</a>
                                    </li>*@
                                <li>
                                    @if (usertypeid == 2 || usertypeid == 3 || usertypeid == 4 || usertypeid == 5)
                                    {
                                        <a href="@Url.Content("~/Finder/FinderDonors")">Find Donor</a>
                                    }
                            </li>
                            @if (usertypeid == 1)
                            {
                                <li><a href="@Url.Content("~/Accounts/AllNewUserRequests")" title="New Accounts Request">Accounts Request</a></li>
                            }
                            @if (usertypeid == 2 || usertypeid == 3 || usertypeid == 4 || usertypeid == 5)
                            {
                                <li><a href="@Url.Content("~/Finder/ShowAllRequests")" title="All Request">All Requests</a></li>
                            }
                            @if (usertypeid == 2 || usertypeid == 5)
                            {
                                <li><a href="@Url.Content("~/Finder/DonorRequests")" title="Seeker Request">Seeker Requests</a></li>
                            }
                            <li>
                                <a href="#">Campaign</a>
                                <ul class="drop-down">
                                    <li><a href="@Url.Content("~/Home/AllCampaigns")">All Campaigns</a></li>
                                    @if (usertypeid == 5)
                                    {
                                        <li><a href="@Url.Content("~/BloodBank/AllCampaigns")">Add Campaigns</a></li>
                                        <li><a href="@Url.Content("~/BloodBank/BloodBankStock")">Stock</a></li>
                                    }

                                </ul>
                            </li>

                            @if (usertypeid == 1)
                            {
                                <li>
                                    <a href="#">Setting</a>
                                    <ul class="drop-down">
                                        <li><a href="@Url.Content("~/User/UserProfile/"+userid+"")">User Profile</a></li>
                                        <li><a href="@Url.Content("~/AccountStatus/AllAccountStatus")">Account Status</a></li>
                                        <li><a href="@Url.Content("~/BloodGroup/AllBloodGroups")">Blood Group</a></li>
                                        <li><a href="@Url.Content("~/CityTables/Index")">Cities</a></li>
                                        <li><a href="@Url.Content("~/RequestType/AllRequestType")">Request Type</a></li>
                                        <li><a href="@Url.Content("~/UserType/AllUserTypes")">User Type</a></li>
                                        <li><a href="@Url.Content("~/Home/Logout")">Sign Out</a></li>

                                    </ul>
                                </li>
                            }
                            else if (usertypeid > 1)
                            {
                                <li>
                                    <a href="#">Setting</a>
                                    <ul class="drop-down">
                                        <li><a href="@Url.Content("~/User/UserProfile/"+userid+"")">User Profile</a></li>
                                        <li><a href="@Url.Content("~/Home/Logout")">Sign Out</a></li>
                                    </ul>
                                </li>
                            }
                            @*<li>
                                    <a href="#">Blog</a>
                                    <ul class="drop-down">
                                        <li><a href="blog.html">All Posts</a></li>
                                        <li><a href="single.html">Single Page</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html" title="About Us">About Us</a></li>*@

                        </ul>
                    </div>
                    }
                </div>
            </div>

        </section>
    </header> <!-- end main-header  -->
    <div class="container" style="margin-bottom:25px">
        @RenderBody()
    </div>
    <footer>

        <section class="footer-widget-area footer-widget-area-bg">

            <div class="container">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="about-footer">

                            <div class="row">

                                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                    <img src="@Url.Content("~/Content/Template/images/cover.png")" alt="" />
                                </div> <!--  end col-lg-3-->

                                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                    <p>
                                        We are one of the trustful blood donation center of Bangladesh. We have started working from 2024 with a prestigious vision to helping patient to provide blood.
                                    </p>
                                </div> <!--  end .col-lg-9  -->

                            </div> <!--  end .row -->

                        </div> <!--  end .about-footer  -->

                    </div> <!--  end .col-md-12  -->

                </div> <!--  end .row  -->

                <div class="row">

                    <div class="col-md-4 col-sm-6 col-xs-12">

                        <div class="footer-widget">

                            <div class="sidebar-widget-wrapper">

                                <div class="footer-widget-header clearfix">
                                    <h3>Contact Us</h3>
                                </div>  <!--  end .footer-widget-header -->


                                <div class="textwidget">

                                    <i class="fa fa-envelope-o fa-contact"></i> <p><a href="https://www.gmail.com/">support@bloodunity.com</a></p>

                                    <i class="fa fa-location-arrow fa-contact"></i> <p>AUST</p>

                                    <i class="fa fa-phone fa-contact"></i> <p>+8801760603954</p>

                                </div>

                            </div> <!-- end .footer-widget-wrapper  -->

                        </div> <!--  end .footer-widget  -->

                    </div> <!--  end .col-md-4 col-sm-12 -->

                    <div class="col-md-4 col-sm-12 col-xs-12" style="float:right">

                        <div class="footer-widget clearfix">

                            <div class="sidebar-widget-wrapper">

                                <div class="footer-widget-header clearfix">
                                    <h3>Support Links</h3>
                                </div>  <!--  end .footer-widget-header -->


                                <ul class="footer-useful-links">

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Thalassemia
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Cell Elofrosis
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Myelodysasia
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Blood Count
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Hemolytimia
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Ychromas Eosis
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Hyrcoagulable
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Thrombo Xtosis
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Sicklenemiaxs
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Aplastic Anemia
                                        </a>
                                    </li>

                                </ul>

                            </div> <!--  end .footer-widget  -->

                        </div> <!--  end .footer-widget  -->

                    </div> <!--  end .col-md-4 col-sm-12 -->
                    @*<div class="col-md-4 col-sm-6 col-xs-12">

                            <div class="footer-widget">
                                <div class="sidebar-widget-wrapper">
                                    <div class="footer-widget-header clearfix">
                                        <h3>Subscribe Us</h3>
                                    </div>
                                    <p>Signup for regular newsletter and stay up to date with our latest news.</p>
                                    <div class="footer-subscription">
                                        <p>
                                            <input id="mc4wp_email" class="form-control" required="" placeholder="Enter Your Email" name="EMAIL" type="email">
                                        </p>
                                        <p>
                                            <input class="btn btn-default" value="Subscribe Now" type="submit">
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>*@ <!--  end .col-md-4 col-sm-12 -->

                </div> <!-- end row  -->

            </div> <!-- end .container  -->

        </section> <!--  end .footer-widget-area  -->
        <!--FOOTER CONTENT  -->

        <section class="footer-contents">

            <div class="container">

                <div class="row clearfix">

                    <div class="col-md-12 col-sm-12 text-center">
                        <p class="copyright-text"> Copyright 2024 - Blood Unity. All Rights Reserved. </p>
                    </div>  <!-- end .col-sm-6  -->

                </div> <!-- end .row  -->

            </div> <!--  end .container  -->

        </section> <!--  end .footer-content  -->

    </footer>

    <!-- END FOOTER  -->
    <!-- Back To Top Button  -->

    <a id="backTop">Back To Top</a>


    <script src="~/Content/Template/js/jquery.min.js"></script>
    <script src="~/Content/Template/js/bootstrap.min.js"></script>
    <script src="~/Content/Template/js/wow.min.js"></script>
    <script src="~/Content/Template/js/jquery.backTop.min.js "></script>
    <script src="~/Content/Template/js/waypoints.min.js"></script>
    <script src="~/Content/Template/js/waypoints-sticky.min.js"></script>
    <script src="~/Content/Template/js/owl.carousel.min.js"></script>
    <script src="~/Content/Template/js/jquery.stellar.min.js"></script>
    <script src="~/Content/Template/js/jquery.counterup.min.js"></script>
    <script src="~/Content/Template/js/venobox.min.js"></script>
    <script src="~/Content/Template/js/custom-scripts.js"></script>
    <script src="~/Content/Template/js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

</body>
</html>
@RenderSection("scripts", required: false)

