@model BloodUnity.Models.CollectBloodMV
@{
    ViewBag.Title = "Collect Blood";
}
@{
    <style>
        dt {
            float: left;
            clear: left;
            width: 8em;
        }

        dd {
            margin: 0 0 0 9em;
            padding: 0 0 2.5em 0;
        }
    </style>
    <div class="col-md-12">
        <div class="contact-form-block">
            <h2 class="contact-title">Enter Collected Blood Details</h2>
            <div>
                
                <div class="row">
                    @using (Html.BeginForm("AddNewDonorByBloodBank", "Accounts", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <h4>Enter Donor Details</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    Donor Name
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DonorDetails.FullName, "", new { @class = "text-danger" })
                                </dd>

                                <dt>
                                    Email Address
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DonorDetails.EmailAddress, "", new { @class = "text-danger" })
                                </dd>

                                <dt>
                                    Gender
                                </dt>

                                <dd>
                                    <div class="select-style">
                                        @Html.DropDownList("GenderID", null, "--Select Gender--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
                                    </div>
                                </dd>
                                <dt>
                                    Phone Number
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DonorDetails.ContactNo, "", new { @class = "text-danger" })
                                </dd>
                                <dt>
                                    NID
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.NID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DonorDetails.NID, "", new { @class = "text-danger" })
                                </dd>

                                <dt>
                                    City
                                </dt>

                                <dd>
                                    <div class="select-style">
                                        @Html.DropDownList("CityID", null, "--Your City--", new { @class = "form-control", @name = "city" })
                                        @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                                    </div>
                                </dd>
                                <dt>
                                    Address
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.DonorDetails.Location, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DonorDetails.Location, "", new { @class = "text-danger" })
                                </dd>
                            </dl>
                            <hr />
                        </div>
                        <div class="col-md-6">
                            <h4>Enter Stock Details</h4>
                            <hr />

                            <dl class="dl-horizontal">
                                <dt>
                                    Blood Group
                                </dt>
                                <dd>
                                    <div class="select-style">
                                        @Html.DropDownList("BloodGroupID", null, "--Select Blood Group--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BloodGroupID, "", new { @class = "text-danger" })
                                    </div>
                                </dd>

                                <dt>
                                    Enter Collect Blood Quantity
                                </dt>

                                <dd>
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                </dd>
                                <dt>

                                </dt>

                                <dd>
                                    
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-md-8" align="right">
                                            <input type="submit" value="Submit" class="btn btn-theme" />
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
}

