@model BloodUnity.Models.UserTable

@{
    ViewBag.Title = "User Details";
}

<div class="col-md-12">
    <div class="contact-form-block">
        <h2 class="contact-title">User Details</h2>
        <div>
            <hr />
            <h4>User Information</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    User Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>


                <dt>
                    Email Address
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmailAddress)
                </dd>

                <dt>
                    Message
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Account Status
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AccountStatusTable.AccountStatus)
                </dd>

                <dt>
                    Relationship
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserTypeTable.UserType)
                </dd>

            </dl>
            <hr />
            @{
                if (Model.HospitalTables.Count() > 0)
                {
                    foreach (var hospital in Model.HospitalTables)
                    {


                        <h4>Hospital Details</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Hospital Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => hospital.FullName)
                            </dd>
                            <dt>
                                Phone Number
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => hospital.PhoneNo)
                            </dd>
                            <dt>
                                Email Address
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => hospital.Email)
                            </dd>
                            <dt>
                                Website
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => hospital.Website)
                            </dd>
                            <dt>
                                City
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => hospital.CityTable.City)
                            </dd>
                            <dt>
                                Address
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => hospital.Address)
                            </dd>
                        </dl>
                    }
                }
                else if (Model.DonorTables.Count() > 0)
                {
                    foreach (var donor in Model.DonorTables)
                    {


                        <h4>Donor Details</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Donor Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.FullName)
                            </dd>
                            <dt>
                                Blood Group
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.BloodGroupsTable.BloodGroup)
                            </dd>
                            <dt>
                                Gender
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.GenderTable.Gender)
                            </dd>
                            <dt>
                                Phone Number
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.ContactNo)
                            </dd>
                            <dt>
                                NID
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.NID)
                            </dd>
                            <dt>
                                Last Donation Date
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.LastDonationDate)
                            </dd>
                            <dt>
                                City
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.CityTable.City)
                            </dd>
                            <dt>
                                Address
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => donor.Location)
                            </dd>
                        </dl>
                    }
                }
                else if (Model.BloodBankTables.Count() > 0)
                {
                    foreach (var bloodbank in Model.BloodBankTables)
                    {

                        <h4>Blood Bank Details</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Blood Bank Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => bloodbank.BloodBankName)
                            </dd>

                            <dt>
                                Phone Number
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => bloodbank.PhoneNo)
                            </dd>
                            <dt>
                                Email Address
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => bloodbank.Email)
                            </dd>
                            <dt>
                                Website
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => bloodbank.Website)
                            </dd>
                            <dt>
                                City
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => bloodbank.CityTable.City)
                            </dd>
                            <dt>
                                Address
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => bloodbank.Location)
                            </dd>
                        </dl>
                    }
                }
                else if (Model.SeekerTables.Count() > 0)
                {
                    foreach (var seeker in Model.SeekerTables)
                    {


                        <h4>Seeker Details</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Seeker Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.FullName)
                            </dd>
                            <dt>
                                Blood Group
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.BloodGroupsTable.BloodGroup)
                            </dd>
                            <dt>
                                Gender
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.GenderTable.Gender)
                            </dd>
                            <dt>
                                Phone Number
                            </dt>
                            <dt>
                                Age
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.Age)
                            </dd>
                            <dd>
                                @Html.DisplayFor(model => seeker.ContactNo)
                            </dd>
                            <dt>
                                NID
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.NID)
                            </dd>

                            <dt>
                                City
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.CityTable.City)
                            </dd>
                            <dt>
                                Address
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => seeker.Address)
                            </dd>
                        </dl>
                    }
                }


            }
        </div>
        <p>
            @Html.ActionLink("Approved", "UserApproved", new { id = Model.UserID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Rejected", "UserRejected", new { id = Model.UserID }, new { @class = "btn btn-danger" })
        </p>
    </div>
</div>
