@model BloodUnity.Models.RegistrationMV
@{
    ViewBag.Title = "Hospital Registration";
}

<div class="container" align="center">
    <div class="appointment-form-wrapper theme-custom-box-shadow text-center clearfix wow zoomIn" style="width:70%">
        <h3 class="join-heading join-heading-alt">Hospital Registration Form</h3>
        @using (Html.BeginForm("HospitalUser", "Registration", FormMethod.Post, new { @class = "appoinment-form", @name = "form1", @onsubmit = "required(); return false;" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserTypeID)
            @Html.HiddenFor(model => model.User.UserID)
            @Html.HiddenFor(model => model.User.UserName)
            @Html.HiddenFor(model => model.User.Password)
            @Html.HiddenFor(model => model.User.AccountStatus)
            @Html.HiddenFor(model => model.User.AccountStatusID)
            @Html.HiddenFor(model => model.User.Description)
            @Html.HiddenFor(model => model.User.EmailAddress)


            <div class="form-group col-md-6">
                @Html.EditorFor(model => model.Hospital.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Hospital Name", @type = "text" } })
                @Html.ValidationMessageFor(model => model.Hospital.FullName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact Number", @type = "text", @name = "phone" } })
                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.EditorFor(model => model.Hospital.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "email", @name = "email" } })
                @Html.ValidationMessageFor(model => model.Hospital.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.EditorFor(model => model.Hospital.Website, new { htmlAttributes = new { @class = "form-control", @placeholder = "Website", @type = "url", @name = "email" } })
                @Html.ValidationMessageFor(model => model.Hospital.Website, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                <div class="select-style">
                    @Html.DropDownList("CityID", null, "--Your City--", new { @class = "form-control", @name = "city" })
                    @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.EditorFor(model => model.Hospital.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address", @type = "text", @name = "email" } })
                @Html.ValidationMessageFor(model => model.Hospital.Address, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">

                <button id="btn_submit" class="btn btn-theme" type="submit">SUBMIT</button>


            </div>

        }
    </div> <!-- end .appointment-form-wrapper  -->
</div>
