@model BloodUnity.Models.FinderMV

@{
    ViewBag.Title = "Search Donor";
}
@using (Html.BeginForm())

{
    bool isuserlogin = false;
    if (!string.IsNullOrEmpty(Convert.ToString(Session["UserName"])))
    {
        isuserlogin = true;
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-8">
        <div class="contact-form-block">
            <h2 class="contact-title">Find Donors</h2>
            <p>
                <div class="form-group col-md-4">
                    <div class="select-style">
                        @Html.DropDownList("BloodGroupID", null, "--Select Blood Group--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BloodGroupID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="select-style">
                        @Html.DropDownList("CityID", null, "--Your City--", new { @class = "form-control", @name = "city" })
                        @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <input type="submit" style="float:right;padding:5px 24px" value="Search" class="btn btn-theme" />
                </div>
            </p>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="accordion">

            @foreach (var item in Model.SearchResult)
            {
                <div class="panel panel-default faq-box">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#@string.Format("collapse{0}",item.UserID)"><strong>@item.FullName (@item.BloodGroup)</strong></a>
                            @if (isuserlogin == true)
                            {
                                @Html.ActionLink("Request", "RequestForBlood", new { donorid = item.DonorID, usertypeid = item.UserTypeID, bloodgroupid = item.BloodGroupID }, new
                           {
                               @class = "btn btn-theme-invert",
                               @style = "float:right; background-color: " +
                                        "#E83914; border:none; color:white; padding: 10px 22px; " + "text-align:center;display:inline-block;" +
                                        "font-size:14px;"
                           })
                            }

                        </h4>
                    </div>
                    @if (isuserlogin == true)
                    {
                        <div id="@string.Format("collapse{0}", item.UserID)" class="panel-collapse collapse">
                            <div class="panel-body">
                                <strong>Type: @item.UserType</strong><br />
                                <strong>Phone Number: @item.ContactNo</strong><br />
                                <strong>Address: @item.Address</strong>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="@string.Format("collapse{0}", item.UserID)" class="panel-collapse collapse">
                            <div class="panel-body">
                                <strong>Please Login or Signup to Get Donor Full Details Here!</strong><br />
                            </div>
                        </div>
                    }
                </div>

            }
        </div>

    </div>

}
